[submodule "examples/flappy"]
	path = examples/flappy
	url = https://github.com/baihuirong/Flappy-Bird-SFML-Learning
[submodule "examples/raycasting 2"]
	path = examples/raycasting 2
	url = https://github.com/Kofybrek/Raycasting.git
